<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SB2CL - RBS Structural Analysis</title>
    {# Bootstrap CSS and JS for styling #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    {# Plotly for interactive plots #}
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
    {# Datatables for enhanced HTML tables #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.1.6/b-3.1.2/b-html5-3.1.2/sp-2.3.2/datatables.min.css"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.1.6/b-3.1.2/b-html5-3.1.2/sp-2.3.2/datatables.min.js"></script>
    <style>
        .nucleotide-input {
            text-align: center;
            width: 40px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RBS Structural Analysis 1.1.0</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link{% if url_for(request.endpoint) == '/' %} active{% endif %}"
                       href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if url_for(request.endpoint) == '/browse_sequences' %} active{% endif %}"
                       href="/browse_sequences">Browse Sequences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if url_for(request.endpoint) == '/sequence_to_etr' %} active{% endif %}"
                       href="/sequence_to_etr">Sequence to ETR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if url_for(request.endpoint) == '/etr_to_sequence' %} active{% endif %}"
                       href="/etr_to_sequence">ETR to Sequence</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if url_for(request.endpoint) == '/browse_clusters' %} active{% endif %}"
                       href="/browse_clusters">Browse Clusters</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container">
    <div class="bg-light p-5 rounded mb-3">
        {% block content %}
            <!-- Default home page content -->
            <p>Welcome! Use the navigation to select an option.</p>
        {% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted text-center">Developed by <a href="http://sb2cl.ai2.upv.es/">SB2CL Lab</a>, <a
              href="https://www.upv.es/">Universitat Politecnica de Valencia</a>.
          When using results from this app, please <a href="#">cite the original work</a>.</span>
    </div>
</footer>

{% block javascript %}
{% endblock %}

</body>
</html>
